<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/layout.ejs')%>
    <form method="post" action="/addQ/<%=quiz_id%>">
        <div class="">
            <label>Question</label>
            <input type="text" name="q" class="formItem" required/>
        </div><br>
        <div class="">
            <label>Answer</label>
            <input type="text" name="a" class="formItem" required/>
        </div><br>
        <div class="">
            <input type="submit" class="submit" value="Add" />
        </div>
    </form>
</body>
</html>